*{
    box-sizing: border-box;
    margin: 0;
    background: #000;;
}

.relative{
    position: relative;
    margin: 80px;
    width: 250px;
    height: 250px;
}

.absolute{
    position: absolute;
    width: 380px;
    height: 500px;
    top: 20px;
    left: 200px;
    border-radius: 5% 5% 5% 5%/ 5% 5% 5% 5%;    
    background-color: #60BDAA;
}

.absolute1{
    top: 50px;
    left: 230px;
    width: 320px;
    height: 220px;
    background-color: #F9FFFF;
    border-radius: 5% 5% 5% 5%/ 5% 5% 5% 5%;     
    z-index: 100;
}

.absolute2{
    top: calc(50% + 175px);
    width: 230px;
    height: 25px;
    left: 230px;
    background-color: #082B25;
    border-radius: 20px;
    z-index: 200;
}

.absolute3{
    top: 300px;
    left: 500px;
    width: 25px;
    height: 25px;
    background-color: #001D69;
    border-radius: 50%;
    z-index: 300;
}

.absolute4{
    top: 352px;
    left: 260px;
    width: 40px;
    height: 100px;
    background-color: #FEB221;
    z-index: 400;
}

.absolute5{
    top: 380px;
    left: 230px;
    width: 100px;
    height: 40px;
    background-color: #FEB221;
    z-index: 400;
}

.absolute6{
    top: 470px;
    width: 80px;
    height: 25px;
    left: 260px;
    background-color: #711325;
    border-radius: 20px;
    z-index: 200;
}

.absolute7{
    top: 470px;
    width: 80px;
    height: 25px;
    left: 360px;
    background-color: #713760;
    border-radius: 20px;
    z-index: 200;
}

.absolute8{
    top: 435px;
    width: 60px;
    height: 60px;
    left: 470px;
    background-color: #FB0102;
    border-radius: 50%;
    z-index: 200;
}

.absolute9{
    top: 350px;
    left: 410px;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 60px solid #04DAFC;
    z-index: 500;
}

.absolute10{
    top: 370px;
    width: 40px;
    height: 40px;
    left: 490px;
    background-color: #00FF3A;
    border-radius: 50%;
    z-index: 200;
}

.absolute11{
    top: 110px;
    width: 15px;
    height: 35px;
    left: 300px;
    background-color: #060709;
    border-radius: 20px;
    z-index: 200;
}

.absolute11::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    background: white;
    border-radius: 50%;
    top: 5px;
    left: 3px;
}

.absolute12{
    top: 110px;
    width: 15px;
    height: 35px;
    left: 460px;
    background-color: #060709;
    border-radius: 20px;
    z-index: 200;
}

.absolute12::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    background: white;
    border-radius: 50%;
    top: 5px;
    left: 3px;
}

.absolute13{
    top: 150px;
    left: 370px;
    background-color: #060709;
    width: 35px;
    height: 7px;
    border: 3px solid black;
    border-radius: 50px;
    border-top: none;
    z-index: 200;
}

.absolute14{
    top: 500px;
    width: 30px;
    height: 100px;
    left: 280px;
    background-color: #60BDAA;
    border-radius: 20px;
    z-index: 200;
}

.absolute15{
    top: 500px;
    width: 30px;
    height: 100px;
    left: 480px;
    background-color: #60BDAA;
    border-radius: 20px;
    z-index: 200;
}

.absolute16{
    top: 360px;
    width: 120px;
    height: 30px;
    left: 100px;
    background-color: #60BDAA;
    border-radius: 20px;
    z-index: 200;
}

.absolute17{
    top: 360px;
    width: 120px;
    height: 30px;
    left: 570px;
    background-color: #60BDAA;
    border-radius: 20px;
    z-index: 200;
}